.canvas {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-row-end: writing-area;
    grid-row-start: writing-area;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.container {
    display: grid;
    grid-template-rows: [writing-area] 50% [filler] 50%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.current-sentence {
    color: #f8fafc;
    font-weight: 100;
}

#gradient {
    background: rgb(15,23,42);
    background: linear-gradient(#0f172a 0%, #0f172a 20%, transparent 100%);
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.previous-sentence {
    color: #334155;
}

p > .caret {
    animation: blink 2s ease-in-out infinite;
    border-left: 4px solid #64748b;
    margin-left: 5px;
}

p span {
    white-space: pre-wrap;
}

p {
    font-family: "Adobe Jenson Pro", serif;
    font-size: 300%;
    hyphens: auto;
    margin: 0 0 2rem;
    max-width: 75rem;
    text-align: justify;
    user-select: none;
    width: 100%;
}

@keyframes blink {
    from,
    to {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}
